{% extends 'layout.html' %}
{% block content %}
    <h1> About </h1>
    <p>
        Example text:
        Today Curiosity is doing a little bit of everything: some contact science, some targeted science, and a little
        driving. When we started planning this morning, we had a beautiful view of the small ledge in front of us, named
        “The Prow,” which shows some amazing layering. We also can see some disturbances in the sand that may be sliding
        caused by our approach.
    </p>
{% endblock content %}
